body {
  background-image: url(background-image.jpeg);
  background-repeat: 1;
}
.weather-cards {
  max-width: 550px;
}
#weather-app-wrapper {
  max-width: 700px;
  background-color: white;
  margin: 20px auto;
  padding: 50px 20px;
  border: 1px solid black;
  border-radius: 5px;
}
h1 {
  margin: auto auto auto 100px;
  padding: 30px 20px 10px 80px;
  text-align: justify;
  max-width: 50px;
  max-height: 100px;
}
img {
  width: 100px;
  height: 100px;
  padding: none;
  margin: none;
}
.search-bar {
  position: absolute;
  background-color: white;
}
.current {
  border: 2px solid black;
  text-align: center;
}
.body {
  text-align: center;
}
.temp-wind {
  margin: auto;
}
.search {
  padding: 15px;
  margin: 20px auto auto auto;
}
#search-button {
  background-color: green;
  color: white;
  padding: 10px 15px;
  margin: 10px;
  border-radius: 15px;
}
#search-bar {
  padding: 5px 10px;
  margin: 5px 5px 5px 15px;
}
#location {
  background-color: blue;
  color: white;
  border-radius: 15px;
  padding: 10px 15px;
  margin: 10px;
}
#temp,
#wind,
#today {
  background-color: #7a92fc;
  font-size: 18px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
#github {
  display: block;
  text-align: center;
}
#search-here {
  text-align: center;
}
